.nsm7Bb-HzV7m-LgbsSe.hJDwNd-SxQuSe.i5vt6e-Ia7Qfc.uaxL4e-RbRzK {
    width: 40% !important ;
}
.facebook-login-button{  
width: 232px !important ;
height: 44px !important;
border: 1px solid #D1D5DB !important; 
border-radius: 4px !important;
color: #1D4ED8 !important;
font-size: 14px !important;
background-color: white;
}
